2.1. Carga el archivo retail_sales.csv en un DataFrame de Pandas.

In [1]:
import pandas as pd

df = pd.read_csv('../data/retail_sales.csv')

2.2. Muestra las primeras 10 filas del DataFrame para confirmar que los datos se han cargado correctamente.

In [2]:
print(df.head(10))

   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty
5               6  2023-04-25     CUST006  Female   45           Beauty
6               7  2023-03-13     CUST007    Male   46         Clothing
7               8  2023-02-22     CUST008    Male   30      Electronics
8               9  2023-12-13     CUST009    Male   63      Electronics
9              10  2023-10-07     CUST010  Female   52         Clothing

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
5         1              30            30
6         2              25            50
7         4              25           100
8         2             300           600
9         4              50           200

3.1. Muestra las últimas 5 filas del DataFrame.

In [3]:
print(df.tail(5))

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

3.2. Utiliza el método info() para obtener información general sobre el DataFrame, incluyendo el número de entradas, nombres de las columnas, tipos de datos y memoria utilizada.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

3.3. Genera estadísticas descriptivas del DataFrame utilizando el método describe().

In [5]:
print(df.describe())

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

4.1. Inspecciona los tipos de datos de cada columna utilizando el atributo dtypes.

In [6]:
print(df.dtypes)

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

4.2. Cuenta los valores únicos en la columna Producto utilizando el método value_counts().

In [7]:
print(df['Product Category'].value_counts())

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

4.3. Muestra todos los valores únicos en la columna Tienda utilizando el método unique().

In [10]:
print(df['Product Category'].unique())

['Beauty' 'Clothing' 'Electronics']


5.1. Filtra el DataFrame para mostrar solo las filas donde las ventas (Ventas) sean mayores a 50.

In [12]:
ventas_mayores_50 = df[df['Total Amount'] > 50]
print("\nFilas donde Ventas > 50:")
print(ventas_mayores_50)

Filas donde Ventas > 50:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
7                 8  2023-02-22     CUST008    Male   30      Electronics
..              ...         ...         ...     ...  ...              ...
993             994  2023-12-18     CUST994  Female   51           Beauty
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
0           3              50           150
1           2             500          1000
3           1             500           500
4           2              50           100
7           4              25           100
..        ...             ...           ...
993         2             500          1000
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

[783 rows x 9 columns]

5.2. Filtra el DataFrame para mostrar solo las filas donde el precio (Precio) sea menor a 0.5.

In [15]:
precio_menor_05 = df[df['Price per Unit'] < 0.5]
print("\nFilas donde Precio < 0.5:")
print(precio_menor_05)

Filas donde Precio < 0.5:
Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []

5.3. Utilizando el método query(), filtra el DataFrame para mostrar las filas donde el producto sea Manzanas y las ventas sean mayores a 30.

In [22]:
ventas_mayores_30 = df.query("`Product Category` == 'Electronics' and `Total Amount` > 30")
print("\nFilas donde Product Category es 'Electronics' y Total Amount > 30:")
print(ventas_mayores_30)

Filas donde Product Category es 'Electronics' y Total Amount > 30:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
7                 8  2023-02-22     CUST008    Male   30      Electronics
8                 9  2023-12-13     CUST009    Male   63      Electronics
12               13  2023-08-05     CUST013    Male   22      Electronics
14               15  2023-01-16     CUST015  Female   42      Electronics
17               18  2023-04-30     CUST018  Female   47      Electronics
..              ...         ...         ...     ...  ...              ...
984             985  2023-05-30     CUST985  Female   19      Electronics
991             992  2023-08-21     CUST992  Female   57      Electronics
992             993  2023-02-06     CUST993  Female   48      Electronics
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
7           4              25           100
8           2             300           600
12          3             500          1500
14          4             500          2000
17          2              25            50
..        ...             ...           ...
984         2              25            50
991         2              30            60
992         3              50           150
998         3              50           150
999         4              30           120

[308 rows x 9 columns]


6.1. Selecciona y muestra solo las columnas Producto y Ventas del DataFrame.

In [24]:
producto_ventas = df[['Product Category', 'Total Amount']]
print("\nColumnas 'Producto' y 'Ventas':")
print(producto_ventas)

Columnas 'Producto' y 'Ventas':
    Product Category  Total Amount
0             Beauty           150
1           Clothing          1000
2        Electronics            30
3           Clothing           500
4             Beauty           100
..               ...           ...
995         Clothing            50
996           Beauty            90
997           Beauty           100
998      Electronics           150
999      Electronics           120

[1000 rows x 2 columns]

6.2. Utilizando loc[], selecciona y muestra las filas de la 5 a la 10 (inclusive) y las columnas Producto y Tienda.

In [27]:
loc_seleccion = df.loc[5:10, ['Product Category', 'Customer ID']]
print("\nFilas de la 5 a la 10 y columnas 'Producto' y '':")
print(loc_seleccion)

Filas de la 5 a la 10 y columnas 'Producto' y '':
   Product Category Customer ID
5            Beauty     CUST006
6          Clothing     CUST007
7       Electronics     CUST008
8       Electronics     CUST009
9          Clothing     CUST010
10         Clothing     CUST011

6.3. Utilizando iloc[], selecciona y muestra las primeras 5 filas y las primeras 3 columnas del DataFrame.

In [25]:
iloc_seleccion = df.iloc[:5, :3]
print("\nPrimeras 5 filas y primeras 3 columnas:")
print(iloc_seleccion)

Primeras 5 filas y primeras 3 columnas:
   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005